<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382700842265-babmi0sl3lv3dsrottjii399jk9o30ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382700842265-babmi0sl3lv3dsrottjii399jk9o30ll</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382700842265-q7q048li4tfroj071aisjmjl4vsgv0id.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDagLQfkC8G9mK6c5S_F4fTATsnXtUB49k</string>
	<key>GCM_SENDER_ID</key>
	<string>382700842265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmc.mmcapp</string>
	<key>PROJECT_ID</key>
	<string>mastermind-3360d</string>
	<key>STORAGE_BUCKET</key>
	<string>mastermind-3360d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382700842265:ios:517bc800380c984d7b2988</string>
</dict>
</plist>